<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lfj.selfstudydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".aroute.RouterTextActivity"></activity>
        <activity android:name=".aroute.RouterActivity" />
        <activity android:name=".map.ThirdMapActivity" />
        <activity android:name=".DatePickActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".secondList.SecondRecyclerActivity" />
        <activity android:name=".appbar.AppBarLayoutActivity" />
        <activity
            android:name=".ybehavior.mimusic.MiMusicBehaviorActivity"
            android:theme="@style/Fullscreen" />
        <activity android:name=".ybehavior.BehaviorListActivity" />
        <activity android:name=".jingdongTop.JingDongTopActivity" />
        <activity
            android:name=".KaiYanMainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scroll.ElemeScrollActivity" />
        <activity android:name=".scroll.ScrollIndexActivity" />
        <activity android:name=".activity.NewDetailActivity" />
        <activity android:name=".MainActivity" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>